body {
    font-family: 'Arial', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f4f4f4;
}

.container {
    background-color: #fff;
    padding: 30px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 300px;
}

h1 {
    margin-bottom: 20px;
    font-size: 1.5em;
    color: #333;
}

label {
    display: block;
    margin-bottom: 10px;
    font-size: 1.1em;
    color: #555;
}

input {
    padding: 10px;
    margin-bottom: 20px;
    width: calc(100% - 22px);
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1em;
    box-sizing: border-box;
}

button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    width: 95%;
    font-size: 1em;
}

button:hover {
    background-color: #0056b3;
}

p {
    margin-top: 20px;
    font-size: 1.2em;
    color: #333;
}

#khodamResult {
    font-weight: bold;
    color: #007bff;
}

footer {
    margin-top: 20px;
    font-size: 0.9em;
    color: hsl(0, 0%, 100%);
    text-align: center;
}
